@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap');

.headerInfoBlocksCSS {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    margin: 32px;
    font-size: 24px;
}

.headerInfoBlocksCSSDark {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    margin: 32px;
    font-size: 24px;
    color: white;
    opacity: .87;
}

@media (max-width: 500px) {
    .headerInfoBlocksCSS {
        font-family: 'IBM Plex Mono', monospace;
        font-weight: 600;
        margin: 32px 16px 32px 16px;
        font-size: 24px;
    }

    .headerInfoBlocksCSSDark {
        font-family: 'IBM Plex Mono', monospace;
        font-weight: 600;
        margin: 0 16px 32px 16px;
        padding-top: 32px;
        font-size: 24px;
        color: white;
        opacity: .87;
    }
}